/**
 * @file: 
 * @author: bohai(bohai@100.com).
 * @date: 16/11/3
 */

@import "abstracts/variables";

body {
    background: url(../images/bg.jpg);
    background-size: cover;
}

.icon {
    width: width('wifi.png');
    height: height('wifi.png');
    background: url(../images/wifi.png);
    display: flex
}

.a {
    background: red;

    .b {
        font-size: 30px;
    }
}
