/**
 * @file: 
 * @author: bohai(bohai@100.com).
 * @date: 16/11/3
 */

@import "abstracts/variables";

//.root {
//    text-align: center;
//    font-size: 50px;
//    background-color: $color-green;
//    padding: 10px;
//    border: 3px solid #ccc;
//}

.icon {
    //background: url(../images/1206070.png);
    width: width('wifi.png');
    height: height('wifi.png');
    background: resolve('wifi.png');
    display: flex
}